@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-firacode: 'Fira Code', monospace;
    --font-nunito: 'Nunito', sans-serif;
}

.dark_theme{

    --primary-text-color: #2dd4bf;

    --bg-scrollbar: rgba(17, 24, 39, .9);
    --bg-scrollbar-thumb: #2dd4bf;

    --bg-primary: rgb(17, 24, 39);

    --bg-primary-nav: rgba(17, 24, 39, .5);
    --bg-primary-responsive-nav:rgba(17, 24, 39, .9);
    --logo-text-color: #ffffff;
    --nav-link-color: rgb(156, 163, 175);
    --nav-link-color-hover: rgb(229, 231, 236);

    --palette-card-border:rgba(17, 24, 39, .7);
    --bg-palette-card-info: rgba(22, 18, 18, .1);
    --typeface-color: #ffffff;
    --bg-color-info:rgba(255, 255, 255, .2);
    --author-name-color: #ffffff;
    --author-social-icon: #f1f1f1;

    --text-white: #ffffff;

    --bg-toast: rgba(0, 0, 0, .9);
}

.light_theme
{
    
    --primary-text-color: #2dd4bf;

    --bg-scrollbar: rgba(255, 255, 255, .9);
    --bg-scrollbar-thumb: #2dd4bf;

    --bg-primary: rgb(255,255,255);

    --bg-primary-nav: rgba(255, 255, 255, .5);
    --bg-primary-responsive-nav:rgba(255, 255, 255, .9);
    --logo-text-color: #000000;
    --nav-link-color: #6b7280;
    --nav-link-color-hover: rgb(0, 0, 0);

    --palette-card-border:rgba(45, 212, 191,.3);
    --bg-palette-card-info: rgba(255, 255, 255, .1);
    --typeface-color: #000000;
    --bg-color-info:rgba(0, 0, 0, .2);
    --author-name-color: #000000;
    --author-social-icon: #1f1f1f;

    --text-white: #000000;

    --bg-toast: rgba(255, 255, 255, .9);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-scrollbar);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-scrollbar-thumb);
}

body {
    position: relative;
    overflow-x: hidden;
}

nav {
    position: fixed;
    width: 100vw;
    padding-inline: 8%;
    padding-block: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-roboto);
    background: var(--bg-primary-nav);
    backdrop-filter: blur(16px);
    z-index: 98;
}

nav .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 35px;
}

nav .logo img {
    width: 35px;
    height: 35px;
}

nav .logo span {
    color: var(--logo-text-color);
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

nav ul.nav_links {
    display: flex;
    align-items: center;
}

ul.nav_links li a {
    color: var(--nav-link-color);
    font-weight: 400;
    padding-inline: 10px;
}

ul.nav_links li a:hover {
    font-weight: 500;
    color: var(--nav-link-color-hover);
}

ul.nav_links li.active a {
    font-weight: 500;
    color: var(--primary-text-color);
}

nav button.theme_toggler,
nav button#menu_toggler {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--logo-text-color);
    font-size: 20px;
    cursor: pointer;
}

/* here menu open button is hiiden because menu is visisble default */
nav button#menu_toggler {
    display: none;
    width: 24px;
    height: 24px;
}

nav .responsive_menu {
    display: none;
}

/*navbar code for tablets */
@media screen and (max-width:768px) {

    section.container {
        background: url('../images/dark-rays-2.png'), var(--bg-primary);
        background-position-y: -80px;
        background-position-x: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    /* here menu open button is visible and nav_items are hidden */
    nav button#menu_toggler {
        display: flex;
    }

    nav button.theme_toggler {
        display: none;
    }

    nav ul.nav_links {
        display: none;
    }

    nav .responsive_menu {
        position: absolute;
        right: 8%;
        display: block;
        min-width: 200px;
        max-width: 300px;
        background: url('../images/dark-rays-1.png'),var(--bg-primary-responsive-nav);
        background-position: center;
        background-size: cover;
        transition: all .5s ease-in;
        border-radius: 10px;
        overflow-x: hidden;
        z-index: 99;
    }

    .close_navbar {
        top: -1000%;
    }

    .open_navbar {
        top: 80%;
    }

    nav .responsive_menu ul.nav_links {
        display: flex;
        flex-direction: column;
        background: var(--bg-primary-nav);
    }

    nav .responsive_menu ul.nav_links li {
        text-align: center;
        padding-block: 10px;
        width: 100%;

    }


    nav .responsive_menu ul li .theme_toggler {
        font-family: var(--font-roboto);
        display: flex;
        width: 100%;
        gap: 10px;
        padding-block: 10px;
        border-top: 2px solid var(--nav-link-color);
    }

    nav .responsive_menu ul li .theme_toggler span {
        color: var(--nav-link-color-hover);
        font-weight: 400;
        font-size: 16px;
    }

    nav .responsive_menu ul li .theme_toggler span:hover {
        font-size: 15px;
        color: var(--nav-link-color-hover);
    }
}


/* container section */
section.container {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: url('../images/dark-rays-2.png'), var(--bg-primary);
    background-position-y: -250px;
    background-position-x: center;
    background-size: 55%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* scroll-snap-type:y mandatory; */
}

/* main section inside container section */
main {
    padding-top: 100px;
    padding-inline: 8%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* scroll-snap-type: y mandatory; */
}

main .palette_card {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    border: 3px solid var(--palette-card-border);
    border-radius: 10px;
    overflow: hidden;
    background: url('../images/dark-rays-1.png');
    background-size: 50%;
    background-position-x: right;
    background-repeat: no-repeat;
    /* scroll-snap-align: start; */
}


main .palette_card img {
    width: 100%;
    max-height: 468px;
}

.palette_card .palette_info {
    width: 100%;
    background: var(--bg-palette-card-info);
    backdrop-filter: blur(17px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.palette_info .typeface {
    color: var(--typeface-color);
    font-family: var(--font-nunito);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}

.palette_info .typeface span.typeface_name {
    text-transform: capitalize;
    font-weight: 800;
    border-bottom: 3px solid;
}

.svg_icon {
    fill: var(--author-social-icon);
}

.social_links a:hover .svg_icon {
    fill: #e74d89;
}

.color_palette {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    padding: 8%;
}

.color_info {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--bg-color-info);
    border-radius: 8px;
}

.color_info .color {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.color_info .color label {
    text-transform: uppercase;
    font-family: var(--font-roboto);
    color: #ffffff;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 5px;
    border: none;
}

.copy_code_btn {
    background-color: transparent;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.author_info {
    color: var(--nav-link-color);
    font-family: var(--font-nunito);
}

.author_info .author {
    color: var(--author-name-color);
    font-weight: 700;
}

.author_info .social_links {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.toast {
    position: absolute;
    bottom: 10%;
    right: 10%;
    padding: 10px;
    background: var(--bg-toast);
    display: grid;
    place-content: center;
    font-family: var(--font-roboto);
    font-weight: 700;
    color: var(--text-white);
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.toast_open {
    visibility: visible;
    opacity: 1;
}

/* main section palette card code for teblate and mobile devices */

@media screen and (max-width:1024px) {
    main .palette_card {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border-radius: 10px;
        overflow: hidden;
        background: url('../images/dark-rays-1.png');
        background-size: 80%;
        background-position-x: center;
        background-position-y: bottom;
    }

    main .palette_card .palette_info {
        padding-top: 30px;
    }
}

@media screen and (max-width:468px) {

    nav {
        padding: 2% 5%;
    }

    nav .logo span {
        font-size: 12px;
    }


    section.container {
        background: url('../images/dark-rays-2.png'), var(--bg-primary);
        background-position-y: -105px;
        background-position-x: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    main {
        padding-top: 70px;
        padding-inline: 5%;
    }

    .typeface {
        font-size: 10px;
    }

    .color_palette {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .palette_info .typeface {
        font-size: 14px;
    }

    .color_info {
        font-size: 12px;
    }

    .author_info {
        font-size: 12px;
    }

}